# Files
diario_di_bordo
token
*.err
*.out
*.slurm
*.log
*.pyc
*.pt
*.csv
# OS-specific
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.sublime-*

# Directories
/code/notebooks/thesis_figures
/code/notebooks/thesis_figures_final
/code/data/*
!code/data/geometric_dataset_gen.py
/code/tesi_venv/
/cluster/
/code/models/GraphWaveNet/data/
/code/models/hyperstockgat/data/
/code/models/weights/
/code/logs/
/code/sbatch_outputs/
/code/sbatch_scripts/
/logs/
/runs/
/analysys_results/
*hyper-stockgat-www*
*Temporal_Relational_Stock_Ranking*
*submit_more_jobs.sh*
submit_more_jobs.sh


# Other
todo.txt
code/models/hyperstockgat/preprocess/NASDAQ_industry_relation.npy
