#Files
token
*.err
*.out
*.slurm
*.log
*.pyc
#Directories
code/data/*
code/tesi_venv/*
cluster/*
code/models/GraphWaveNet/data/
code/models/weights/
code/logs/
code/sbatch_outputs
code/sbatch_scripts
todo.txt
logs/
runs/
analysys_results/
